{% extends 'base.html.twig' %}

{% block body %}
    <h2>Commentaire vérifié, merci!</h2>

    <p>Transition appliquée: <strong>{{ transition }}</strong></p>
    <p>Nouvel état: <strong>{{ comment.state }}</strong></p>
{% endblock %}