{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Donnez votre avis!</h2>

    {% for conference in conferences %}
        <h4>{{ conference }}</h4>
        <p>
            <a href="{{ path('conference', { slug: conference.slug }) }}">Voir les commentaires</a>
        </p>
    {% endfor %}
{% endblock %}